<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<context:property-placeholder location="file:///etc/pnserverTest.properties" />

	<bean id="constants" class="com.netcore.pnserver.util.Constants">
		<constructor-arg>
			<util:properties location="file:///etc/pnserverTest.properties" />
		</constructor-arg>
	</bean>




	<bean name="dataSource_Test" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://${MYSQL_HOST}:3306/mysql" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="initialSize" value="10" />
		<property name="maxTotal" value="30" />
	</bean>

	

	<bean name="papidataSourceTest" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://${PAPI_MYSQL_HOST}:3306/mysql" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="initialSize" value="2" />
		<property name="maxTotal" value="10" />
	</bean>

	<bean id="papijdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="papidataSourceTest" />
	</bean>

	<bean id="mysqlDaoTest" class="com.netcore.pnserver.dao.MySqlDaoImpl">
		<constructor-arg ref="papijdbcTemplate" />
		<constructor-arg ref="clientdbmap" />
	</bean>

	<bean id="test" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource_Test" />
	</bean>
	
	
	<util:map id="clientmapTest" map-class="java.util.HashMap"
		key-type="java.lang.Integer" value-type="java.lang.String">
		<entry key="1" value="test@test" />
	</util:map>

	<bean id="clientdbmap" class="com.netcore.pnserver.util.ClientDBMap">
		<constructor-arg index="0" ref="clientmapTest" />
		<constructor-arg index="1" ref="jedispool" />
	</bean>

	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="2" />
		<property name="maxTotal" value="30" />
		<property name="minIdle" value="2" />
	</bean>

	<bean id="jedispool" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="poolConfig" ref="poolConfig" />
		<constructor-arg name="host" value="${REDIS_HOST}" />
		<constructor-arg name="port" value="6379" />
	</bean>

	<bean id="mySqlDaoTestHelper" class="com.netcore.pnserver.MySqlDaoTestHelper"/>	
	
	
	<bean id="01" class="com.netcore.pnserver.gateway.GCMConnector">
		<constructor-arg name="mysqlDao" ref="mysqlDao" />
	</bean>

	<bean id="10" class="com.netcore.pnserver.gateway.APNSConnector" destroy-method="shutdown">
		<constructor-arg name="mysqlDao" ref="mysqlDao" />
	</bean>
	
	<bean id="mysqlDao" class="com.netcore.pnserver.dao.MySqlDaoImpl">
		<constructor-arg ref="papijdbcTemplate" />
		<constructor-arg ref="clientdbmap" />
	</bean>
	
	<bean id="dbprdev" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource_dbprdev"/>
    </bean>
	<bean name="dataSource_dbprdev" class="org.apache.commons.dbcp2.BasicDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://${MYSQL_HOST_DBPRDEV}:3306/mysql" />
	    <property name="username" value="root" />
	    <property name="password" value="" />
	    <property name="initialSize" value="10" />
	    <property name="maxTotal" value="20" />
	</bean>
	
</beans>
	
	
	 